.centerstage .cs-item{
	float: left;
	-webkit-backface-visibility: hidden;
	-webkit-transition: 
		opacity 0.5s linear, 
		-webkit-transform 0.5s ease-in-out;
	-moz-transition: 
		opacity 0.5s linear, 
		-moz-transform 0.5s ease-in-out;
	-o-transition: 
		opacity 0.5s linear, 
		-o-transform 0.5s ease-in-out;
	-ms-transition: 
		opacity 0.5s linear, 
		-ms-transform 0.5s ease-in-out;
	transition: 
		opacity 0.5s linear, 
		transform 0.5s ease-in-out;
}
/* Hover Style for all the items: blur, scale down*/
.centerstage .cs-item.inactive{
	-webkit-transform: scale(0.85);
	-moz-transform: scale(0.85);
	-o-transform: scale(0.85);
	-ms-transform: scale(0.85);
	transform: scale(0.85);
	opacity: 0.5;
	-webkit-filter: blur(2px);
  	filter: blur(2px);
  	filter:url("blur.svg#blur");
}

/* Hover Style for single item: scale up */
.centerstage .cs-item.active{
	-webkit-transform: scale(1.07);
	-moz-transform: scale(1.07);
	-o-transform: scale(1.07);
	-ms-transform: scale(1.07);
	transform: scale(1.07);
	z-index: 100;	
	opacity: 1;
}